<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MediaToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="ffmpeg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<MediaToolkit.Properties.Settings>
			<setting name="FFMPEG_NAME" serializeAs="String">
				<value>ffmpeg.exe</value>
			</setting>
			<setting name="CAP_NAME" serializeAs="String">
				<value>cab.bin</value>
			</setting>
			<setting name="CAP_PWD" serializeAs="String">
				<value>sGx?J3$!+ftW4C@L</value>
			</setting>
			<setting name="FFPROBE_NAME" serializeAs="String">
				<value>ffprobe.exe</value>
			</setting>
			<setting name="YOUTUBE_DL_NAME" serializeAs="String">
				<value>youtube-dl.exe</value>
			</setting>
		</MediaToolkit.Properties.Settings>
		<ffmpeg.Properties.Settings>
			<setting name="FFMPEG_NAME" serializeAs="String">
				<value>ffmpeg.exe</value>
			</setting>
			<setting name="CAP_NAME" serializeAs="String">
				<value>cab.bin</value>
			</setting>
			<setting name="CAP_PWD" serializeAs="String">
				<value>sGx?J3$!+ftW4C@L</value>
			</setting>
			<setting name="FFPROBE_NAME" serializeAs="String">
				<value>ffprobe.exe</value>
			</setting>
		</ffmpeg.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite.EF6" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
